@model IEnumerable<Shop.Models.RealEstates.RealEstatesIndexViewModel>

@{
    int rownumber = 1;
}
<div id="create">
    <a asp-action="create" asp-controller="Realestates" type="submit" class="btn button-update">Create</a>
</div>


<div class="h1">
    Realestates
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Size</th>
                <th scope="col">Room number</th>
                <th scope="col">Location</th>
                
                <th scope="col">BuildingType</th>
                <th scope="col"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var realestates in Model)
            {
                <tr>
                    <td>@rownumber</td>
                    <td>@realestates.Size</td>
                    <td>@realestates.RoomNumber</td>
                    <td>@realestates.Location</td>
                    <td>@realestates.BuildingType</td>
                    <td>
                        <div id="buttons">
                            <a asp-action="details" asp-controller="realestates" asp-route-id="@realestates.Id" class="btn button-details">Details</a>
                            <a asp-action="update" asp-controller="realestates" asp-route-id="@realestates.Id" class="btn button-update">Update</a>
                            <a asp-action="delete" asp-controller="realestates" asp-route-id="@realestates.Id" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </td>
                </tr>

                rownumber += 1;
            }
        </tbody>
    </table>
</form>
